@font-face {
    font-family: kodemono;
    src: url(./assets/fonts/Kode_Mono/KodeMono-VariableFont_wght.ttf);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    /* background: #2d2b33;
    background: linear-gradient(#0f0236, #353430);
    background-image: url("./assets/montagnes.png");
    background-repeat: no-repeat; */

    background: #eb01a5 no-repeat;
    background-image: url("./assets/montagnes.png");
    background-image: url("./assets/montagnes.png"), linear-gradient(#0f0236, #756a3f);
    background-position: bottom;
    background-repeat: repeat-x;
}

#global_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
#start_screen{
    position: absolute;
    border: black solid 1px;
}
#end_screen{
    position: absolute;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgb(48, 48, 48);
    visibility: hidden;
}
#start_level{
    position: absolute;
    font-family: kodemono;
    font-size: 28px;
    color: yellow;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(218, 218, 37);
    border-radius: 10px;
    padding: 10px 18px;
    transform: translateX(20px);
}

#content{
    width: 770px;
}

/* Divs affichés dans la grille */
.grid_div_0, .grid_div_1, .grid_div_2, .grid_div_3, .grid_div_4{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 20px;
    /* box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.1); */
}
.grid_div_0{
    /* couleur neutre */
    /* background: url(./assets/touche_neutre.png) center / cover no-repeat; */
    border: solid 4px rgba(92, 207, 92, 0.2);
}
.grid_div_1{
    /* couleur de user */
    /* background: url(./assets/touche_user.png) center / cover no-repeat; */
    background-color: rgb(40, 55, 255);
    border: solid 4px rgb(132, 162, 224);

}
.grid_div_2{
    /* couleur de sortie */
    /* background: url(./assets/touche_sortie.png) center / cover no-repeat; */
    background-color: rgb(22, 153, 61);
    border: solid 4px rgb(138, 250, 73);
}
.grid_div_3{
    /* couleur des obstacles */
    /* background: url(./assets/touche_obstacle.png) center / cover no-repeat; */
    background-color: rgb(173, 41, 7);
    border: solid 4px rgb(231, 62, 20);
}
.grid_div_4{
    /* couleur des bords */
    background: rgba(184, 184, 184, 0);
}

#game_container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#strokes_container{
    border-radius: 20px;
}
#strokes_viewport{
    overflow: hidden;
    border: solid 3px rgba(255, 251, 5, 0.801);
    border-radius: 10px;
    display: flex;
    align-items: end;
    width: 40px;
    height: 637px;
}
#per_cent_strokes{
    width: 100%;
    height: 100%;
    transition: ease 0.2s;
    background: rgba(255, 255, 0, 0.767);
    float: bottom;
}